<div class="row">
  <h1></h1>
</div>
<!--
<div class="col-xs-12">


  <div class="col-xs-3" style="text-align:right">
    <a routerLinkActive="active" routerLink="/opret_annonce">
    <button
      type="button"
      class="btn btn-success ">
      Opret Annonce
    </button>
    </a>
  </div>

  <div class="col-xs-6" style="text-align: center">
    <a routerLinkActive="active" routerLink="/">
      <img src="https://i.ibb.co/cxrCcRd/1.png"  border="0" style="max-height: 50px">
    </a>
  </div>

  <div class="col-xs-3">
    <a routerLinkActive="active" routerLink="/log_ind" id="header">Log ind</a>

  </div>

</div>
-->

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLinkActive="active" routerLink="/"
        >
        <img src="http://people.compute.dtu.dk/rapa/MedIABook/gfx/DTU2.jpg"  border="0" style="max-height: 50px">

      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" routerLink="/opret_annonce" >
          <button
            style="margin-right: 50px"
            type="button"
            class="btn btn-success"

          >
            <!--
            indsættes indenfor button^^
            class: more-styles
            [hidden]="!inboundClick"
            (click)="inboundClick = !inboundClick"
            [routerLink]="['/opret_annonce']" href=""-->
            Opret annonce
          </button>
        </li>
        <li routerLinkActive="active" routerLink="/min_side" >
          <button
            style="margin-right: 50px"
            type="button"
            class="btn btn-toolbar ">
            Min side
          </button>
        </li>
        <li routerLinkActive="active" routerLink="/log_ind"><button type="button" class="btn btn-link"> Log ind</button></li>
      </ul>
    </div>
  </div>
</nav>
