<div class="col-xs-12" id="borderTop"
     style="min-height: 150px">

  <div class="col-xs-4" style="text-align: center" id="borderRight1">
    <h4>Kontakt</h4>
    Christian Høj
    <br>
    Email: s175125@student.dtu.dk
    <br>
    Tlf: 27823366
  </div>
  <div class="col-xs-4" style="text-align: center" id="borderRight" >
    <h4>Sikkerhed og vilkår</h4>
    Find dem her:
  </div>

  <div class="col-xs-4" style="text-align: center" id="borderLeft1">
    <h4>Følg os på...</h4>
    Facebook
    <br>
    Instagram
    <br>
    Twitter
  </div>
</div>
