<router-outlet></router-outlet>

<h5></h5>
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-7">
      <h2>{{ annonce.titel }}</h2>
      <h4>700kr.</h4>
      <img
        src="https://designme.dk/media/catalog/product/cache/1/image/800x800/17f82f742ffe127f42dca9de82fb58b1/3/9/39256-kay-bojesen-abe-lille-eg-ahorn-3/kay-bojesen-abe-eg-og-ahorn-lille-34.jpg"
        class="img-responsive"
        style="max-height: 200px;">
      <div class="row">
        <p>
          Meget fin Kaj Bojesen abe, der hurtigt kan blive din!
          <br>
          Køb den nu!!
        </p>

          <!-- {{ recipe.description }}
                Her skal det være (ting der skal sælges) element.description-->
        <div class="row">
          <div class="col-xs-12">

          </div>
        </div>


    </div>

    </div>
    <div class="col-xs-5"
         style="background-color: gainsboro; min-height: 200px">

      <h3>Christian Høj</h3>
      Postnummer: 2800
      <br>
      Tlf: 12345678
      <br>
      Email: s175125@student.dtu.dk

    </div>
  </div>
</div>

