<div class="row">
    <div class="col-xs-6">
      <h1>Her tænker jeg at overskriften kan være</h1>
      <img
        src="https://images.rosendahl.dk/products/392/53/39253/v/39253-3/XXLarge/abe-mellem-teak-limba--1500x1500-3.png"
        class="img-responsive"
        style="max-height: 300px;">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-6">

    </div>
</div>

