<div class="container">
    <div class="row">
        <h3>Mine oplysninger</h3>
        <form [formGroup]="registrerForm" (ngSubmit)="onOpretBruger()">
          <div class="col-md-4">
            <div class="form-group">
              <label>Fornavn</label>
              <input type="text" class="form-control" formControlName="firstName"  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}">
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Fornavn skal indtastes</div>
              </div>
            </div>
            <div class="form-group">
              <label>Efternavn</label>
              <input type="text" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors}">
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Efternavn skal indtastes</div>
              </div>
            </div>
            <div class="form-group">
              <label>Fødselsår</label>
              <input type="number" class="form-control" formControlName="birthday"[ngClass]="{ 'is-invalid': submitted && f.birthday.errors}">
              <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
                <div *ngIf="f.birthday.errors.required">Fødselsår skal indtastes</div>
              </div>
            </div>
            <div class="form-group">
              <label>Køn</label>
              <select class="form-control" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors}">
                <option value="" [selected]="true" disabled style="cursor: pointer; size: 10px">Vælg køn</option>
                <option style="cursor: pointer; size: 10px" *ngFor="let kon of genders">{{kon}}</option>
              </select>
              <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                <div *ngIf="f.gender.errors.required">Køn skal vælges</div>
              </div>
            </div>
            <div class="form-group">
              <label>Adresse</label>
              <input type="text" class="form-control" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors}">
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Adresse skal indtastes</div>
              </div>
            </div>
          </div>
          <div  class="col-xs-4" >
            <div class="form-group">
              <label>Postnummer</label>
              <input type="number" class="form-control" formControlName="zipCode" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors}">
              <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                <div *ngIf="f.zipCode.errors.required">Postnummer skal indtastes</div>
              </div>
            </div>
            <div class="form-group">
              <label>Telefonnummer</label>
              <input type="number" class="form-control" formControlName="phonenumber" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors}">
              <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                <div *ngIf="f.phonenumber.errors.required">Telefonnummer skal indtastes</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors}">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email skal indtastes</div>
                <div *ngIf="f.email.errors.email">Det indtastede skal være en emailadresse</div>
              </div>
            </div>
            <div class="form-group">
              <label>Kodeord</label>
              <input type="password" class="form-control" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Kodeord skal indtastes</div>
                <div *ngIf="f.password.errors.minlength">Kodeordet skal være mindst 6 karakterer langt</div>
              </div>
            </div>
            <div class="form-group">
              <label>Gentag kodeord</label>
              <input type="password" class="form-control" formControlName="repeatPassword" [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors}">
              <div *ngIf="submitted && f.repeatPassword.errors" class="invalid-feedback">
                <div *ngIf="f.repeatPassword.errors.required">Kodeord skal indtastes</div>
                <div *ngIf="f.repeatPassword.errors.checkequals">Kodeordene skal være ens</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Opret bruger</button>
            </div>
          </div>
        </form>
      </div>
    </div>
