<!--<div>-->
  <!--<h3>Mine oplysninger</h3>-->
  <!--<br>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<form [formGroup]="registrerForm" (ngSubmit)="onOpretBruger()">-->
  <!--<div class="col-xs-5" style="border: #0c5593">-->

      <!--<table>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Fornavn</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="fornavnOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.fornavnOpret.errors}">-->
            <!--<div *ngIf="submitted && f.fornavnOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.fornavnOpret.required">Fornavn skal indtastes</div>-->
              <!--&lt;!&ndash;f.fornavnOpret.error.required">Fornavn skal indtastes</div>&ndash;&gt;-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Efternavn</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="efternavnOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.efternavnOpret.errors}">-->
            <!--<div *ngIf="submitted && f.efternavnOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.efternavnOpret.required">Efternavn skal indtastes</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Fødselsår</th>-->
          <!--<td>-->
            <!--<input type="text"  class="form-control" formControlName="fodselsarOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.fodselsarOpret.errors}">-->
            <!--<div *ngIf="submitted && f.fodselsarOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.fodselsarOpret.required">Fødselsår skal indtastes</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Køn</th>-->
          <!--<td>-->
            <!--<select class="form-control" formControlName="konOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.konOpret.errors}">-->
                <!--<option style="cursor: pointer; size: 10px" *ngFor="let kon of gender">{{kon}}</option>-->
            <!--</select>-->
            <!--<div *ngIf="submitted && f.konOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.konOpret.required">Køn skal vælges</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Adresse</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="adresseOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.adresseOpret.errors}">-->
            <!--<div *ngIf="submitted && f.adresseOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.adresseOpret.required">Adresse skal indtastes</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Postnummer</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="postnrOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.postnrOpret.errors}">-->
            <!--<div *ngIf="submitted && f.postnrOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.postnrOpret.required">Postnummer skal indtastes</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Telefonnummer</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="tlfnrOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.tlfnrOpret.errors}">-->
            <!--<div *ngIf="submitted && f.tlfnrOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.tlfnrOpret.required">Telefonnummer skal indtastes</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
          <!--&lt;!&ndash;<th >Efternavn</th>&ndash;&gt;-->
          <!--&lt;!&ndash;<td><input type="text" required ngModel class="form-control" name="efternavnOpret" style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
          <!--&lt;!&ndash;<th >Fødselsår</th>&ndash;&gt;-->
          <!--&lt;!&ndash;<td><input type="number" required ngModel class="form-control" name="fodselsdagOpret"  style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
          <!--&lt;!&ndash;<th >Køn</th>&ndash;&gt;-->
          <!--&lt;!&ndash;<td><select required ngModel class="form-control" name="kønOpret" style="margin-left: 8px">&ndash;&gt;-->
            <!--&lt;!&ndash;<option style="cursor: pointer; size: 10px" *ngFor="let kon of gender">{{kon}}</option>&ndash;&gt;-->
          <!--&lt;!&ndash;</select></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
          <!--&lt;!&ndash;<th >Adresse</th>&ndash;&gt;-->
          <!--&lt;!&ndash;<td><input type="text" required ngModel class="form-control" name="adresseOpret"  style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
          <!--&lt;!&ndash;<th >Postnummer</th>&ndash;&gt;-->
          <!--&lt;!&ndash;<td><input type="number" required ngModel class="form-control" name="postnrOpret" style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
          <!--&lt;!&ndash;<th >Telefonnummer</th>&ndash;&gt;-->
          <!--&lt;!&ndash;<td><input type="number" required ngModel class="form-control" name="telefonnummerOpret"  style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->

      <!--</table>-->
  <!--</div>-->

  <!--<div  class="col-xs-7" >-->
      <!--<table>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Email</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="emailOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.emailOpret.errors}">-->
            <!--<div *ngIf="submitted && f.emailOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.emailOpret.required">Email skal indtastes</div>-->
              <!--<div *ngIf="f.emailOpret.errors.email">Det indtastede skal være en emailadresse</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->

        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Kodeord</th>-->
          <!--<td>-->
            <!--<input type="password" class="form-control" formControlName="kodeordOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.kodeordOpret.errors}">-->
            <!--<div *ngIf="submitted && f.kodeordOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.kodeordOpret.required">Kodeord skal indtastes</div>-->
              <!--<div *ngIf="f.kodeordOpret.errors.email">Kodeordet skal være mindst 6 karakterer langt</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->

        <!--<tr style="margin-top: 10px">-->
          <!--<div class="form-group">-->
          <!--<th >Gentag kodeord</th>-->
          <!--<td>-->
            <!--<input type="password" class="form-control" formControlName="gentagKodeordOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.gentagKodeordOpret.errors}">-->
            <!--<div *ngIf="submitted && f.gentagKodeordOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.gentagKodeordOpret.required">Kodeord skal indtastes</div>-->
              <!--<div *ngIf="f.gentagKodeordOpret.errors.email">Kodeordene skal være ens</div>-->
            <!--</div>-->
          <!--</td>-->
          <!--</div>-->
        <!--</tr>-->

        <!--<br>-->
        <!--<div class="form-group">-->
          <!--<button class="btn btn-primary" type="submit">Opret bruger</button>-->
        <!--</div><div class="row">-->
        <!--<form [formGroup]="registrerForm" (ngSubmit)="onOpretBruger()">-->
          <!--<div class="col-xs-5" style="border: #0c5593">-->

            <!--<table>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Fornavn</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="fornavnOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.fornavnOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.fornavnOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.fornavnOpret.required">Fornavn skal indtastes</div>-->
                    <!--&lt;!&ndash;f.fornavnOpret.error.required">Fornavn skal indtastes</div>&ndash;&gt;-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Efternavn</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="efternavnOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.efternavnOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.efternavnOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.efternavnOpret.required">Efternavn skal indtastes</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Fødselsår</th>-->
                <!--<td>-->
                  <!--<input type="text"  class="form-control" formControlName="fodselsarOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.fodselsarOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.fodselsarOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.fodselsarOpret.required">Fødselsår skal indtastes</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Køn</th>-->
                <!--<td>-->
                  <!--<select class="form-control" formControlName="konOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.konOpret.errors}">-->
                    <!--<option style="cursor: pointer; size: 10px" *ngFor="let kon of gender">{{kon}}</option>-->
                  <!--</select>-->
                  <!--<div *ngIf="submitted && f.konOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.konOpret.required">Køn skal vælges</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Adresse</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="adresseOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.adresseOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.adresseOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.adresseOpret.required">Adresse skal indtastes</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Postnummer</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="postnrOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.postnrOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.postnrOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.postnrOpret.required">Postnummer skal indtastes</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Telefonnummer</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="tlfnrOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.tlfnrOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.tlfnrOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.tlfnrOpret.required">Telefonnummer skal indtastes</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
              <!--&lt;!&ndash;<th >Efternavn</th>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><input type="text" required ngModel class="form-control" name="efternavnOpret" style="margin-left: 8px"></td>&ndash;&gt;-->
              <!--&lt;!&ndash;</tr>&ndash;&gt;-->
              <!--&lt;!&ndash;<br>&ndash;&gt;-->
              <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
              <!--&lt;!&ndash;<th >Fødselsår</th>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><input type="number" required ngModel class="form-control" name="fodselsdagOpret"  style="margin-left: 8px"></td>&ndash;&gt;-->
              <!--&lt;!&ndash;</tr>&ndash;&gt;-->
              <!--&lt;!&ndash;<br>&ndash;&gt;-->
              <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
              <!--&lt;!&ndash;<th >Køn</th>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><select required ngModel class="form-control" name="kønOpret" style="margin-left: 8px">&ndash;&gt;-->
              <!--&lt;!&ndash;<option style="cursor: pointer; size: 10px" *ngFor="let kon of gender">{{kon}}</option>&ndash;&gt;-->
              <!--&lt;!&ndash;</select></td>&ndash;&gt;-->
              <!--&lt;!&ndash;</tr>&ndash;&gt;-->
              <!--&lt;!&ndash;<br>&ndash;&gt;-->
              <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
              <!--&lt;!&ndash;<th >Adresse</th>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><input type="text" required ngModel class="form-control" name="adresseOpret"  style="margin-left: 8px"></td>&ndash;&gt;-->
              <!--&lt;!&ndash;</tr>&ndash;&gt;-->
              <!--&lt;!&ndash;<br>&ndash;&gt;-->
              <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
              <!--&lt;!&ndash;<th >Postnummer</th>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><input type="number" required ngModel class="form-control" name="postnrOpret" style="margin-left: 8px"></td>&ndash;&gt;-->
              <!--&lt;!&ndash;</tr>&ndash;&gt;-->
              <!--&lt;!&ndash;<br>&ndash;&gt;-->
              <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
              <!--&lt;!&ndash;<th >Telefonnummer</th>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><input type="number" required ngModel class="form-control" name="telefonnummerOpret"  style="margin-left: 8px"></td>&ndash;&gt;-->
              <!--&lt;!&ndash;</tr>&ndash;&gt;-->
              <!--&lt;!&ndash;<br>&ndash;&gt;-->

            <!--</table>-->
          <!--</div>-->

          <!--<div  class="col-xs-7" >-->
            <!--<table>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Email</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="emailOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.emailOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.emailOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.emailOpret.required">Email skal indtastes</div>-->
                    <!--<div *ngIf="f.emailOpret.errors.email">Det indtastede skal være en emailadresse</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->

              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Kodeord</th>-->
                <!--<td>-->
                  <!--<input type="password" class="form-control" formControlName="kodeordOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.kodeordOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.kodeordOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.kodeordOpret.required">Kodeord skal indtastes</div>-->
                    <!--<div *ngIf="f.kodeordOpret.errors.email">Kodeordet skal være mindst 6 karakterer langt</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->

              <!--<tr style="margin-top: 10px">-->
                <!--<div class="form-group">-->
                  <!--<th >Gentag kodeord</th>-->
                  <!--<td>-->
                    <!--<input type="password" class="form-control" formControlName="gentagKodeordOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.gentagKodeordOpret.errors}">-->
                    <!--<div *ngIf="submitted && f.gentagKodeordOpret.errors" class="invalid-feedback">-->
                      <!--<div *ngIf="f.gentagKodeordOpret.required">Kodeord skal indtastes</div>-->
                      <!--<div *ngIf="f.gentagKodeordOpret.errors.email">Kodeordene skal være ens</div>-->
                    <!--</div>-->
                  <!--</td>-->
                <!--</div>-->
              <!--</tr>-->

              <!--<br>-->
              <!--<div class="form-group">-->
                <!--<button class="btn btn-primary" type="submit">Opret bruger</button>-->
              <!--</div>-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
        <!--&lt;!&ndash;<th >Email</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<td><input type="text" required ngModel class="form-control" name="emailOpret"  style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr>&ndash;&gt;-->
          <!--&lt;!&ndash;<th >Kode</th>&ndash;&gt;-->
          <!--&lt;!&ndash;<td><input type="text" required ngModel class="form-control" name="kodeordOpret" #kodeordOpret style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
          <!--&lt;!&ndash;<th >Gentag kode</th>&ndash;&gt;-->
          <!--&lt;!&ndash;<td><input type="text" required ngModel class="form-control" name="kodeordGentagOpret" #kodeordGentagOpret style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->

        <!--&lt;!&ndash;<button type="submit"&ndash;&gt;-->
                <!--&lt;!&ndash;class="btn btn-success"&ndash;&gt;-->
                <!--&lt;!&ndash;style="margin-right: 20px"&ndash;&gt;-->
                <!--&lt;!&ndash;[disabled]=" !f.valid || !(kodeordOpret.toString() == kodeordGentagOpret.toString())">Opret bruger</button>&ndash;&gt;-->
      <!--</table>-->

  <!--</div>-->
  <!--</form>-->

<!--</div>-->

<div>


</div>

  <div class="container">
    <div class="row">
        <h3>Mine oplysninger</h3>
        <form [formGroup]="registrerForm" (ngSubmit)="onOpretBruger()">
          <div class="col-md-4">
            <div class="form-group">
              <label>Fornavn</label>
              <input type="text" class="form-control" formControlName="fornavnOpret"  [ngClass]="{ 'is-invalid': submitted && f.fornavnOpret.errors}">
              <div *ngIf="submitted && f.fornavnOpret.errors" class="invalid-feedback">
                <div *ngIf="f.fornavnOpret.errors.required">Fornavn skal indtastes</div>
              </div>
            </div>
            <div class="form-group">
              <label>Efternavn</label>
              <input type="text" class="form-control" formControlName="efternavnOpret" [ngClass]="{ 'is-invalid': submitted && f.efternavnOpret.errors}">
              <div *ngIf="submitted && f.efternavnOpret.errors" class="invalid-feedback">
                <div *ngIf="f.efternavnOpret.errors.required">Efternavn skal indtastes</div>
              </div>
            </div>
            <div class="form-group">
              <label>Fødselsår</label>
              <input type="number" class="form-control" formControlName="fodselsarOpret"[ngClass]="{ 'is-invalid': submitted && f.fodselsarOpret.errors}">
              <div *ngIf="submitted && f.fodselsarOpret.errors" class="invalid-feedback">
                <div *ngIf="f.fodselsarOpret.errors.required">Fødselsår skal indtastes</div>
              </div>
            </div>
            <div class="form-group">
              <label>Køn</label>
              <select class="form-control" formControlName="konOpret" [ngClass]="{ 'is-invalid': submitted && f.konOpret.errors}">
                <option value="" [selected]="true" disabled style="cursor: pointer; size: 10px">Vælg køn</option>
                <option style="cursor: pointer; size: 10px" *ngFor="let kon of gender">{{kon}}</option>
              </select>
              <div *ngIf="submitted && f.konOpret.errors" class="invalid-feedback">
                <div *ngIf="f.konOpret.errors.required">Køn skal vælges</div>
              </div>
            </div>
            <div class="form-group">
              <label>Adresse</label>
              <input type="text" class="form-control" formControlName="adresseOpret" [ngClass]="{ 'is-invalid': submitted && f.adresseOpret.errors}">
              <div *ngIf="submitted && f.adresseOpret.errors" class="invalid-feedback">
                <div *ngIf="f.adresseOpret.errors.required">Adresse skal indtastes</div>
              </div>
            </div>
          </div>
          <div  class="col-xs-4" >
            <div class="form-group">
              <label>Postnummer</label>
              <input type="number" class="form-control" formControlName="postnrOpret" [ngClass]="{ 'is-invalid': submitted && f.postnrOpret.errors}">
              <div *ngIf="submitted && f.postnrOpret.errors" class="invalid-feedback">
                <div *ngIf="f.postnrOpret.errors.required">Postnummer skal indtastes</div>
              </div>
            </div>
            <div class="form-group">
              <label>Telefonnummer</label>
              <input type="number" class="form-control" formControlName="tlfnrOpret" [ngClass]="{ 'is-invalid': submitted && f.tlfnrOpret.errors}">
              <div *ngIf="submitted && f.tlfnrOpret.errors" class="invalid-feedback">
                <div *ngIf="f.tlfnrOpret.errors.required">Telefonnummer skal indtastes</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="emailOpret" [ngClass]="{ 'is-invalid': submitted && f.emailOpret.errors}">
              <div *ngIf="submitted && f.emailOpret.errors" class="invalid-feedback">
                <div *ngIf="f.emailOpret.errors.required">Email skal indtastes</div>
                <div *ngIf="f.emailOpret.errors.email">Det indtastede skal være en emailadresse</div>
              </div>
            </div>
            <div class="form-group">
              <label>Kodeord</label>
              <input type="password" class="form-control" formControlName="kodeordOpret"  [ngClass]="{ 'is-invalid': submitted && f.kodeordOpret.errors}">
              <div *ngIf="submitted && f.kodeordOpret.errors" class="invalid-feedback">
                <div *ngIf="f.kodeordOpret.errors.required">Kodeord skal indtastes</div>
                <div *ngIf="f.kodeordOpret.errors.minlength">Kodeordet skal være mindst 6 karakterer langt</div>
              </div>
            </div>
            <div class="form-group">
              <label>Gentag kodeord</label>
              <input type="password" class="form-control" formControlName="gentagKodeordOpret" [ngClass]="{ 'is-invalid': submitted && f.gentagKodeordOpret.errors}">
              <div *ngIf="submitted && f.gentagKodeordOpret.errors" class="invalid-feedback">
                <div *ngIf="f.gentagKodeordOpret.errors.required">Kodeord skal indtastes</div>
                <div *ngIf="f.gentagKodeordOpret.errors.checkequals">Kodeordene skal være ens</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Opret bruger</button>
            </div>
          </div>
        </form>
      </div>
    </div>
<!--<div class="row">-->
  <!--<form [formGroup]="registrerForm" (ngSubmit)="onOpretBruger()">-->
    <!--<div class="col-xs-5" style="border: #0c5593">-->

      <!--<table>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Fornavn</th>-->
          <!--<td>-->

          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Efternavn</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="efternavnOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.efternavnOpret.errors}">-->
            <!--<div *ngIf="submitted && f.efternavnOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.efternavnOpret.required">Efternavn skal indtastes</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Fødselsår</th>-->
          <!--<td>-->
            <!--<input type="text"  class="form-control" formControlName="fodselsarOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.fodselsarOpret.errors}">-->
            <!--<div *ngIf="submitted && f.fodselsarOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.fodselsarOpret.required">Fødselsår skal indtastes</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Køn</th>-->
          <!--<td>-->
            <!--<select class="form-control" formControlName="konOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.konOpret.errors}">-->
              <!--<option style="cursor: pointer; size: 10px" *ngFor="let kon of gender">{{kon}}</option>-->
            <!--</select>-->
            <!--<div *ngIf="submitted && f.konOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.konOpret.required">Køn skal vælges</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Adresse</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="adresseOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.adresseOpret.errors}">-->
            <!--<div *ngIf="submitted && f.adresseOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.adresseOpret.required">Adresse skal indtastes</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Postnummer</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="postnrOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.postnrOpret.errors}">-->
            <!--<div *ngIf="submitted && f.postnrOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.postnrOpret.required">Postnummer skal indtastes</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Telefonnummer</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="tlfnrOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.tlfnrOpret.errors}">-->
            <!--<div *ngIf="submitted && f.tlfnrOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.tlfnrOpret.required">Telefonnummer skal indtastes</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
        <!--&lt;!&ndash;<th >Efternavn</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<td><input type="text" required ngModel class="form-control" name="efternavnOpret" style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
        <!--&lt;!&ndash;<th >Fødselsår</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<td><input type="number" required ngModel class="form-control" name="fodselsdagOpret"  style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
        <!--&lt;!&ndash;<th >Køn</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<td><select required ngModel class="form-control" name="kønOpret" style="margin-left: 8px">&ndash;&gt;-->
        <!--&lt;!&ndash;<option style="cursor: pointer; size: 10px" *ngFor="let kon of gender">{{kon}}</option>&ndash;&gt;-->
        <!--&lt;!&ndash;</select></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
        <!--&lt;!&ndash;<th >Adresse</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<td><input type="text" required ngModel class="form-control" name="adresseOpret"  style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
        <!--&lt;!&ndash;<th >Postnummer</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<td><input type="number" required ngModel class="form-control" name="postnrOpret" style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr style="margin-top: 10px">&ndash;&gt;-->
        <!--&lt;!&ndash;<th >Telefonnummer</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<td><input type="number" required ngModel class="form-control" name="telefonnummerOpret"  style="margin-left: 8px"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->

      <!--</table>-->
    <!--</div>-->

    <!--<div  class="col-xs-7" >-->
      <!--<table>-->
        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Email</th>-->
          <!--<td>-->
            <!--<input type="text" class="form-control" formControlName="emailOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.emailOpret.errors}">-->
            <!--<div *ngIf="submitted && f.emailOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.emailOpret.required">Email skal indtastes</div>-->
              <!--<div *ngIf="f.emailOpret.errors.email">Det indtastede skal være en emailadresse</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->

        <!--<tr style="margin-top: 10px" class="form-group">-->
          <!--<th >Kodeord</th>-->
          <!--<td>-->
            <!--<input type="password" class="form-control" formControlName="kodeordOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.kodeordOpret.errors}">-->
            <!--<div *ngIf="submitted && f.kodeordOpret.errors" class="invalid-feedback">-->
              <!--<div *ngIf="f.kodeordOpret.required">Kodeord skal indtastes</div>-->
              <!--<div *ngIf="f.kodeordOpret.errors.email">Kodeordet skal være mindst 6 karakterer langt</div>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<br>-->

        <!--<tr style="margin-top: 10px">-->
          <!--<div class="form-group">-->
            <!--<th >Gentag kodeord</th>-->
            <!--<td>-->
              <!--<input type="password" class="form-control" formControlName="gentagKodeordOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.gentagKodeordOpret.errors}">-->
              <!--<div *ngIf="submitted && f.gentagKodeordOpret.errors" class="invalid-feedback">-->
                <!--<div *ngIf="f.gentagKodeordOpret.required">Kodeord skal indtastes</div>-->
                <!--<div *ngIf="f.gentagKodeordOpret.errors.email">Kodeordene skal være ens</div>-->
              <!--</div>-->
            <!--</td>-->
          <!--</div>-->
        <!--</tr>-->

        <!--<br>-->
        <!--<div class="form-group">-->
          <!--<button class="btn btn-primary" type="submit">Opret bruger</button>-->
        <!--</div><div class="row">-->
        <!--<form [formGroup]="registrerForm" (ngSubmit)="onOpretBruger()">-->
          <!--<div class="col-xs-5" style="border: #0c5593">-->

            <!--<table>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Fornavn</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="fornavnOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.fornavnOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.fornavnOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.fornavnOpret.required">Fornavn skal indtastes</div>-->
                    <!--&lt;!&ndash;f.fornavnOpret.error.required">Fornavn skal indtastes</div>&ndash;&gt;-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Efternavn</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="efternavnOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.efternavnOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.efternavnOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.efternavnOpret.required">Efternavn skal indtastes</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Fødselsår</th>-->
                <!--<td>-->
                  <!--<input type="text"  class="form-control" formControlName="fodselsarOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.fodselsarOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.fodselsarOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.fodselsarOpret.required">Fødselsår skal indtastes</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Køn</th>-->
                <!--<td>-->
                  <!--<select class="form-control" formControlName="konOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.konOpret.errors}">-->
                    <!--<option style="cursor: pointer; size: 10px" *ngFor="let kon of gender">{{kon}}</option>-->
                  <!--</select>-->
                  <!--<div *ngIf="submitted && f.konOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.konOpret.required">Køn skal vælges</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Adresse</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="adresseOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.adresseOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.adresseOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.adresseOpret.required">Adresse skal indtastes</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Postnummer</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="postnrOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.postnrOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.postnrOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.postnrOpret.required">Postnummer skal indtastes</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Telefonnummer</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="tlfnrOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.tlfnrOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.tlfnrOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.tlfnrOpret.required">Telefonnummer skal indtastes</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->

            <!--</table>-->
          <!--</div>-->

          <!--<div  class="col-xs-7" >-->
            <!--<table>-->
              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Email</th>-->
                <!--<td>-->
                  <!--<input type="text" class="form-control" formControlName="emailOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.emailOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.emailOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.emailOpret.required">Email skal indtastes</div>-->
                    <!--<div *ngIf="f.emailOpret.errors.email">Det indtastede skal være en emailadresse</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->

              <!--<tr style="margin-top: 10px" class="form-group">-->
                <!--<th >Kodeord</th>-->
                <!--<td>-->
                  <!--<input type="password" class="form-control" formControlName="kodeordOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.kodeordOpret.errors}">-->
                  <!--<div *ngIf="submitted && f.kodeordOpret.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.kodeordOpret.required">Kodeord skal indtastes</div>-->
                    <!--<div *ngIf="f.kodeordOpret.errors.email">Kodeordet skal være mindst 6 karakterer langt</div>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<br>-->

              <!--<tr style="margin-top: 10px">-->
                <!--<div class="form-group">-->
                  <!--<th >Gentag kodeord</th>-->
                  <!--<td>-->
                    <!--<input type="password" class="form-control" formControlName="gentagKodeordOpret" style="margin-left: 8px" [ngClass]="{ 'is-invalid': submitted && f.gentagKodeordOpret.errors}">-->
                    <!--<div *ngIf="submitted && f.gentagKodeordOpret.errors" class="invalid-feedback">-->
                      <!--<div *ngIf="f.gentagKodeordOpret.required">Kodeord skal indtastes</div>-->
                      <!--<div *ngIf="f.gentagKodeordOpret.errors.email">Kodeordene skal være ens</div>-->
                    <!--</div>-->
                  <!--</td>-->
                <!--</div>-->
              <!--</tr>-->

              <!--<br>-->
              <!--<div class="form-group">-->
                <!--<button class="btn btn-primary" type="submit">Opret bruger</button>-->
              <!--</div>-->
            <!--</table>-->

          <!--</div>-->
        <!--</form>-->

      <!--</div>-->

