<form (ngSubmit)="onOpretBruger(f)" #f="ngForm">
  <div class="row">
    <div class="col-xs-12">
      <label for="fornavnOpret">Fornavn</label>
      <input class="form-control" type="text" ngModel required name="fornavnOpret" id="fornavnOpret">
      <label for="efternavnOpret">Efternavn</label>
      <input class="form-control" type="text" ngModel required name="efternavnOpret" id="efternavnOpret">
      <label for="fodselsdagOpret">Fødselsdag</label>
      <input class="form-control" type="date" ngModel required name="fodselsdagOpret" id="fodselsdagOpret">
      <label for="konOpret">Køn</label>
      <select required ngModel class="form-control" name="konOpret" id="konOpret">
        <option style="cursor: pointer; size: 10px">Kvinde</option>
        <option style="cursor: pointer; size: 10px">Mand</option>
        <option style="cursor: pointer; size: 10px">Andet</option>

      </select>
      <label for="adresseOpret">Adresse</label>
      <input class="form-control" type="text" ngModel required name="adresseOpret" id="adresseOpret">
      <label for="postnrOpret">PostNr</label>
      <input class="form-control" type="text" ngModel required name="postnrOpret" id="postnrOpret">
      <label for="telefonOpret">Telefon</label>
      <input class="form-control" type="text" ngModel required name="telefonOpret" id="telefonOpret">
      <label for="emailOpret"> Email (brugernavn)</label>
      <input class="form-control" type="text" ngModel required name="emailOpret" id="emailOpret">
      <label for="kodeordOpret">Kode</label>
      <input class="form-control" type="password" ngModel required name="kodeordOpret" id="kodeordOpret">
      <label for="kodeordGentagOpret">Gentag Kode</label>
      <input class="form-control" type="password" required name="kodeordGentagOpret" id="kodeordGentagOpret">
      <!--div *ngIf="kodeordGentagOpret.errors.pattern">De indtastede kodeord er ikke ens</div>-->

      <button class="btn btn-primary" type="submit"[disabled]="!f.valid">Opret Bruger</button>
    </div>
  </div>
</form>
