
<div class="container">
  <div class="row">
    <h3>Mine oplysninger</h3>
    <div class="col-xs-5">
      <table>
        <tr>
          <th>Fornavn</th>
          <td><h4 style="margin-left: 15px">{{bruger.firstName}}</h4></td>
        </tr>
        <tr style="margin-top: 10px">
          <th>Efternavn</th>
          <td><h4 style="margin-left: 15px">{{bruger.lastName}}</h4></td>
        </tr>
        <tr style="margin-top: 10px">
          <th>Fødselsår</th>
          <td><h4 style="margin-left: 15px">{{bruger.birthday}}</h4></td>
        </tr>
        <tr style="margin-top: 10px">
          <th>Køn</th>
          <td><h4 style="margin-left: 15px">{{bruger.gender}}</h4></td>
        </tr>
        <tr style="margin-top: 10px">
          <th>Adresse</th>
          <td><h4 style="margin-left: 15px">{{bruger.address}}</h4></td>
        </tr>
        <tr style="margin-top: 10px">
          <th>Postnummer</th>
          <td><h4 style="margin-left: 15px">{{bruger.zipCode}}</h4></td>
        </tr>
        <tr style="margin-top: 10px">
          <th>Telefonnummer</th>
          <td><h4 style="margin-left: 15px">{{bruger.phonenumber}}</h4></td>
        </tr>
        <tr style="margin-top: 10px">
          <th>Email</th>
          <td><h4 style="margin-left: 15px">{{bruger.email}}</h4></td>
        </tr>
      </table>
      <br>
      <button class="btn btn-primary" [routerLink]="['/min_side',bruger.userId,'rediger']">Rediger oplysninger</button>
    </div>
  </div>
  <div class="row">
    <hr>
    <h3>Mine annoncer</h3>
    <div class="col-xs-12">
      <div class="grid-container">
        <app-mine-annoncer *ngFor="let minAnnonce of mineAnnoncer, let i = index"
                         [id]="minAnnonce.adId"
                         [index]="minAnnonce.header"
                         [minAnnonce]="minAnnonce"></app-mine-annoncer>
      </div>
    </div>
  </div>
</div>

