
<h3>Oplysninger</h3>
<form (ngSubmit)="onRedigerBruger(f)" #f=ngForm>
<table>
  <tr style="margin-top: 10px">
    <th >Fornavn</th>
    <td><input type="text" ngModel required class="form-control" name="fornavn" [(ngModel)]="bruger.firstName"style="max-height: 25px; margin-left: 8px" id="fornavn"></td>
  </tr>
  <br>
  <tr style="margin-top: 10px">
    <th >Efternavn</th>
    <td><input type="text" required ngModel class="form-control" name="efternavn" [(ngModel)]="bruger.lastName" style="max-height: 25px; margin-left: 8px"></td>
  </tr>
  <br>
  <tr style="margin-top: 10px">
    <th >Fødselsår</th>
    <td><input type="text" required ngModel class="form-control" name="fødselsdag" [(ngModel)]="bruger.birthday" style="max-height: 25px; margin-left: 8px"></td>
  </tr>
  <br>
  <tr style="margin-top: 10px">
    <th >Køn</th>
    <td><select required ngModel class="form-control" name="køn" [(ngModel)]="bruger.gender" style="max-height: 30px; margin-left: 8px">
      <option style="cursor: pointer; size: 10px" *ngFor="let kon of gender">{{kon}}</option>
    </select></td>
  </tr>
  <br>
  <tr style="margin-top: 10px">
    <th >Adresse</th>
    <td><input type="text" required ngModel class="form-control" name="adresse" [(ngModel)]="bruger.address" style="max-height: 25px; margin-left: 8px"></td>
  </tr>
  <br>
  <tr style="margin-top: 10px">
    <th >PostNr</th>
    <td><input type="text" required ngModel class="form-control" name="postnr" [(ngModel)]="bruger.zipCode" style="max-height: 25px; margin-left: 8px"></td>
  </tr>
  <br>
  <tr style="margin-top: 10px">
    <th >Telefonnummer</th>
    <td><input type="text" required ngModel class="form-control" name="telefonnummer" [(ngModel)]="bruger.phonenumber" style="max-height: 25px; margin-left: 8px"></td>
  </tr>
  <br>
  <tr style="margin-top: 10px">
    <th >Email</th>
    <td><input type="text" required ngModel class="form-control" name="email" [(ngModel)]="bruger.email" style="max-height: 25px; margin-left: 8px"></td>
  </tr>
  <br>
  <tr style="margin-top: 10px">
    <th >Kode</th>
    <td><input type="text" required ngModel class="form-control" name="kode" style="max-height: 25px; margin-left: 8px"></td>
  </tr>
  <br>
  <tr style="margin-top: 10px">
    <th >Gentag kode</th>
    <td><input type="text" required ngModel class="form-control" name="gentag_kode"  style="max-height: 25px; margin-left: 8px"></td>
  </tr>
  <br>
</table>


  <button type="submit"
          class="btn btn-primary"
          style="margin-right: 20px"
          [disabled]="!f.valid">Gem oplysninger</button>
</form>
