<div class="main" style="text-align:center">Annoncer:</div>
<hr>

<div class="grid-container">

  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>

  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>
  <div class="grid-item">
    <img id="Img" src="https://img1.etsystatic.com/042/0/5704632/il_170x135.514572627_qez9.jpg" onclick="displayAnnonce()" />
    <div class="title">Fin Hjemmelavet ting!  </div>
    <div class="price">21.000,00 DKK</div>
  </div>




</div>


