<div class="container">
  <div class="row">
    <form (ngSubmit)="onRedigerAnnonce()" [formGroup]="redigerForm">
      <div class="col-xs-4">
        <div class="form-group">
          <label>Kategori</label>
          <select class="form-control" formControlName="category" [(ngModel)]="annonce.category" [ngClass]="{ 'is-invalid': submitted && f.category.errors}">
            <option style="cursor: pointer" *ngFor="let kategoriElement of kategorier"> {{ kategoriElement.categoryName }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Titel</label>
          <input
            type="text"
            class="form-control"
            formControlName="header"
            [(ngModel)]="annonce.header"
            [ngClass]="{ 'is-invalid': submitted && f.header.errors}">
          <div *ngIf="submitted && f.header.errors" class="invalid-feedback">
            <div *ngIf="f.header.errors.required" style="color: #FF0000;"><i>Titel skal indtastes</i></div>
          </div>
        </div>
        <div class="form-group">
         <label>Pris</label>
         <input
            type="number"
            class="form-control"
            formControlName="price"
            [(ngModel)]="annonce.price"
            [ngClass]="{ 'is-invalid': submitted && f.price.errors}"
          >
          <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
           <div *ngIf="f.price.errors.required" style="color: #FF0000;"><i>Pris skal indtastes</i></div>
          </div>
        </div>
        <div class="form-group">
          <label>Billede URL</label>
          <input
            type="text"
            class="form-control"
            formControlName="imageURL"
            [(ngModel)]="annonce.imageURL"
            [ngClass]="{ 'is-invalid': submitted && f.imageURL.errors}"
            #imagePath
          >
          <div *ngIf="submitted && f.imageURL.errors" class="invalid-feedback">
            <div *ngIf="f.imageURL.errors.required" style="color: #FF0000;"><i>Billede skal indtastes</i></div>
          </div>
        </div>
        <div class="form-group">
          <label>Beskrivelse</label>
          <textarea
            type="text"
            class="form-control"
            rows="6"
            formControlName="description"
            [(ngModel)]="annonce.description"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors}"
          >
          </textarea>
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required" style="color: #FF0000;"><i>Beskrivelse skal indtastes</i></div>
          </div>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-success" >Rediger annonce</button>
        </div>
      </div>
    </form>
    <div class="col-xs-4">
      <img [src]="imagePath.value" class="img-responsive">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-2">
      <button
        type="danger"
        class="btn btn-danger" (click)="sletAnnonce()">Slet annonce</button>
    </div>
    <div class="col-xs-1">
      <button
        type="submit"
        class="btn btn-primary" >Annuller</button>
    </div>
  </div>



    <!--<h1>Upload billede</h1>-->
    <!--<input #fileInput-->
           <!--type="file" accept="image/*"-->
           <!--(change)="valgtBillede($event)">-->

    <!--<button type="button"-->
            <!--class="btn btn-primary"-->
            <!--(click)="fileInput.click()" style="margin-right: 20px">Vælg fil</button>-->
    <!--<button type="button"-->
            <!--class="btn btn-success"-->
            <!--(click)="uploadBillede()">Upload billede</button>-->


</div>
