<div class="col-xs-12" style="margin-left: 30px; margin-right: 30px">
  <!--The content below is only a placeholder and can be replaced.-->
  <app-header></app-header>
  <hr>
  <div class ="container">
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="container" style="min-height: 300px"></div>
  <div class="col-xs-12"
       style="background-color: gainsboro; min-height: 200px">
    <div class="col-xs-4" style="text-align: center">

        <h3>Kontakt</h3>

      Email: s175125@student.dtu.dk

    </div>
    <div class="col-xs-4" style="text-align: center">
      <h3>Sikkerhed og vilkår</h3>
    </div>
    <div class="col-xs-4" style="text-align: center">
      <h3>Følg os på...</h3>
    </div>
  </div>
</div>



