<div class="col-xs-12" style="margin-left: 30px; margin-right: 30px">
  <!--The content below is only a placeholder and can be replaced.-->

  <div class="container">
    <app-header></app-header>
    <hr id="hr1">

  </div>

  <div class ="container">
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>




  <div class="container" style="min-height: 300px"></div>

  <div class="col-xs-12" id="borderTop"
       style="min-height: 150px">

    <div class="col-xs-4" style="text-align: center" >


      <h4>Kontakt</h4>

      Email: s175125@student.dtu.dk

    </div>
    <div class="col-xs-4" style="text-align: center" id="borderLeft1">
      <h4>Sikkerhed og vilkår</h4>
    </div>

    <div class="col-xs-4" style="text-align: center" id="borderLeft1">
      <h4>Følg os på...</h4>
    </div>
  </div>
</div>
