<!--
<a
  style="cursor: pointer;"
  routerLink="/detaljeret_annonce"
  routerLinkActive="active"
  >
  <div class="row" style="min-height: 135px; min-width: 135px">
    <div class="col-xs-12">
      <img [src]="annonce.imagepath" class="img-responsive"  style="max-height: 135px ; max-width: 135px">

    </div>
  </div>
  <div class="title">
    {{ annonce.titel }}
  </div>
  <div class="price">
    {{ annonce.pris }} kr
  </div>
</a>
-->
<!--
<div class="row">
  <div class="col-xs-2">
    <ul class="list-group">
      <h3>Kategorier</h3>
      <hr>
      <a
        class="list-group-item-text,  "
        *ngFor=" let kategoriElement of kategori"
        style="cursor: pointer"

      >

        <font size="+1">
          {{kategoriElement}} <br>
        </font>
      </a>
    </ul>
  </div>
  -->
<!--
  <div class="col-xs-10">
    <app-grid></app-grid>
  </div>
-->


  <a
    class="grid-item"
    style="cursor: pointer; margin-right: 50px"

    [routerLink]="['/detaljeret_annonce', id]"
    routerLinkActive="active">

    <div class="row" style="min-height: 135px; min-width: 135px">
      <div class="col-xs-12">
        <img
          [src]="annonce.imageURL"
          alt="{{annonce.header}}"
          class="img-responsive"
          style="max-height: 135px;
          max-width: 135px">

      </div>
    </div>
    <div class="title">{{ annonce.header }}</div>
    <div class="price">{{ annonce.price }} kr</div>

    <!--  {{ annonce.beskrivelse }} {{ annonce.kategori }} -->

  </a>

