  <a
    class="grid-item"
    style="cursor: pointer;"
    [routerLink]="['/detaljeret_annonce', id]"
    routerLinkActive="active">
    <div class="row" style="min-height: 135px; min-width: 135px">
      <div class="col-xs-12">
        <img
          [src]="annonce.imageURL"
          alt="{{annonce.header}}"
          class="img-responsive"
          style="max-height: 135px;
          max-width: 135px">
      </div>
    </div>
    <div class="title">{{ annonce.header }}</div>
    <div class="price">{{ annonce.price }} kr</div>

  </a>

