a {
  color: #3c3c3c;
}

.grid-container {
  width: 95%;

  max-width: 1600px;
  max-height: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 2px;

}
