 <div class="row">

   <div class="col-xs-2">
     <ul class="list-group">
       <h3>Kategorier</h3>
       <hr id="hr1">
       <app-kategorier *ngFor="let kategoriElement of kategorier, let i= index"
                       [id]="kategoriElement.categoryName"
                       [kategori]="kategoriElement"></app-kategorier>
     </ul>
   </div>
   <div class="pull-right" routerLinkActive="active" routerLink="/opret_annonce" >
     <button
       style="margin-right: 50px"
       type="button"
       class="btn btn-success"
       
     >
       <!--
       indsættes indenfor button^^
       class: more-styles
       [hidden]="!inboundClick"
       (click)="inboundClick = !inboundClick"
       [routerLink]="['/opret_annonce']" href=""-->
       Opret annonce
     </button>
   </div>
     <div class="col-xs-10">
       <div class="grid-container">
       <app-annonce *ngFor="let annonce of annoncer"
                    [id]="annonce.adId"
                    [index]="annonce.header"
                    [bruger]="annonce.bruger"
                    [annonce]="annonce"></app-annonce>
     </div>
     </div>


 </div>




