 <div class="row">
   <div class="col-xs-2">
     <ul class="list-group" style="margin-top: 30px">
       <h4>Kategorier</h4>
       <hr id="hr1">
       <app-kategorier *ngFor="let kategoriElement of kategorier"
                       [id]="kategoriElement.categoryName"
                       [kategori]="kategoriElement"></app-kategorier>
     </ul>
   </div>
   <div class="col-xs-10">
    <div class="col-xs-4" style="margin-left: 10px"><h2>{{overskrift}}</h2></div>
     <div class="col-xs-6"></div>
     <button
       routerLinkActive="active"
       routerLink="/opret_annonce"
       type="button"
       class="btn btn-success"
       *ngIf="loggedInd">
        Opret annonce
     </button>
   </div>
   <div class="col-xs-10">
     <div class="grid-container" >
       <app-annonce
         *ngFor="let annonce of annoncer"
         [id]="annonce.adId"
         [bruger]="annonce.bruger"
         [annonce]="annonce"
       ></app-annonce>
     </div>
   </div>
 </div>




