 <div class="row">

   <div class="col-xs-2">
     <ul class="list-group">
       <h3>Kategorier</h3>
       <hr>
       <!--
       <a
         class="list-group-item-text,  "
         *ngFor=" let kategoriElement of kategori"
         style="cursor: pointer"
         [routerLink]=""
       >

         <font size="+1">
           {{kategoriElement}} <br>
         </font>
       </a>
       -->
       <app-kategorier *ngFor="let kategoriElement of kategorier, let i= index"
       [kategoriInput]="kategoriElement"
       [kategoriIndex]="i" ></app-kategorier>
     </ul>
   </div>

     <div class="col-xs-10">
       <app-annonce></app-annonce>
     </div>


 </div>




