<!--<router-outlet></router-outlet>-->
<!--<h5></h5>-->
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-4" id="borderRight">
      <h1>{{ annonce.header }}</h1>
      <h3>{{ annonce.price }} kr.</h3>
      <br>
        <p  style="margin-top: 10px">{{annonce.description}}</p>
    </div>
    <div class="col-xs-5" align="center">
      <img
        [src]="annonce.imageURL"
        class="img-responsive"
        style="max-height: 250px;">
    </div>
    <div class="col-xs-3"
         style="min-height: 200px" id="borderLeft">
      <h2>Kontaktinformation</h2>
      <h3>{{annonce.user.firstName}} {{annonce.user.lastName}}</h3>
      Postnummer: {{annonce.user.zipCode}}
      <br>
      Tlf: {{annonce.user.phonenumber}}
      <br>
      Alder: {{annonce.user.birthday}}
      <br>
      Email: {{annonce.user.email}}
    </div>
  </div>
</div>
