<div class="row">
  <div class="col-xs-6" align="center">
    <form (ngSubmit)="onLogIndPressed(f)" #f=ngForm>
      <label for="email" >Email</label>
      <input type ="email"
             class="form-control"
             id="email"
             name="email"
             ngModel
             required
      >
      <label for="password">Kode:</label>
      <input type="text"
             class="form-control"
             id="password"
             name="password"
             ngModel
             required
      >
      <br>
      <button type="submit"
              class="btn btn-primary"
              style="margin-right: 20px"
              [disabled]="!f.valid">Log ind</button>


    </form>
    <br>
    <button type="button" class="btn btn-success" routerLinkActive="active" routerLink="/opret_bruger"> Ny bruger</button>

  </div>
</div>
