<div class="row">
  <div class="col-xs-4" style="margin-left: 20px; margin-top: 20px"  >
    <div *ngIf="submitted" class="invalid-feedback">
      <div *ngIf="!logindOK" style="color: #FF0000;"><label><i>{{errorLogind}}</i></label></div>
    </div>
    <form [formGroup]="logindForm" (ngSubmit)="onLogIndPressed()">
     <div class="form-group">
        <label>Email</label>
        <input type ="email"
               class="form-control"
               formControlName="email"
               [ngClass]="{'is-invalid': submitted && f.email.errors}"
        >
       <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
         <div *ngIf="f.email.errors.required" style="color: #FF0000;"><i>Email skal indtastes</i></div>
         <div *ngIf="f.email.errors.email" style="color: #FF0000;"><i>Den indtastede mail er ugyldig</i></div>
       </div>
      </div>
      <div class="form-group">
        <label>Kode:</label>
        <input type="password"
               class="form-control"
               formControlName="password"
               [ngClass]="{'is-invalid': submitted && f.password.errors}"
        >
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required" style="color: #FF0000;"><i>Kodeord skal indtastes</i></div>
        </div>
      </div>

      <br>
      <button type="submit"
              class="btn btn-success"
              style="margin-right: 20px">Log ind</button>


    </form>
    <hr id="hr1">

    <h6><i>Er du endnu ikke oprettet, kan du gøre det her</i></h6>
    <button type="button" class="btn btn-primary" routerLinkActive="active" routerLink="/opret_bruger"> Ny bruger</button>

  </div>
</div>
