<div class="row">
  <h3>Mine oplysninger</h3>
  <form [formGroup]="redigerForm" (ngSubmit)="onRedigerBruger()">
    <div class="col-md-4">
      <div class="form-group">
        <label>Fornavn</label>
        <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="bruger.firstName"  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}">
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required" style="color: #FF0000;">Fornavn skal indtastes</div>
        </div>
      </div>
      <div class="form-group">
        <label>Efternavn</label>
        <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="bruger.lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors}">
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required" style="color: #FF0000;">Efternavn skal indtastes</div>
        </div>
      </div>
      <div class="form-group">
        <label>Fødselsår</label>
        <input type="number" class="form-control" formControlName="birthday" [(ngModel)]="bruger.birthday" [ngClass]="{ 'is-invalid': submitted && f.birthday.errors}">
        <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
          <div *ngIf="f.birthday.errors.required" style="color: #FF0000;">Fødselsår skal indtastes</div>
          <div *ngIf="f.birthday.errors.min ||f.birthday.errors.max" style="color: #FF0000;">Fødselsåret skal indeholde 4 tal</div>
        </div>
      </div>
      <div class="form-group">
        <label>Køn</label>
        <select class="form-control" formControlName="gender" [(ngModel)]="bruger.gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors}">
          <option style="cursor: pointer; size: 10px" >Mand</option>
          <option style="cursor: pointer; size: 10px" >Kvinde</option>
          <option style="cursor: pointer; size: 10px" >Andet</option>
        </select>
        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
          <div *ngIf="f.gender.errors.required" style="color: #FF0000;">Køn skal vælges</div>
        </div>
      </div>
      <div class="form-group">
        <label>Adresse</label>
        <input type="text" class="form-control" formControlName="address" [(ngModel)]="bruger.address" [ngClass]="{ 'is-invalid': submitted && f.address.errors}">
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required" style="color: #FF0000;">Adresse skal indtastes</div>
        </div>
      </div>
    </div>
    <div  class="col-xs-4" >
      <div class="form-group">
        <label>Postnummer</label>
        <input type="number" class="form-control" formControlName="zipCode" [(ngModel)]="bruger.zipCode" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors}">
        <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
          <div *ngIf="f.zipCode.errors.required" style="color: #FF0000;">Postnummer skal indtastes</div>
          <div *ngIf="f.zipCode.errors.min || f.zipCode.errors.max" style="color: #FF0000;">Postnummeret skal indeholde 4 tal</div>
        </div>
      </div>
      <div class="form-group">
        <label>Telefonnummer</label>
        <input type="number" class="form-control" formControlName="phonenumber" [(ngModel)]="bruger.phonenumber" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors}">
        <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
          <div *ngIf="f.phonenumber.errors.required" style="color: #FF0000;">Telefonnummer skal indtastes</div>
          <div *ngIf="f.phonenumber.errors.min" style="color: #FF0000;">Telefonnummeret skal indeholde 8 tal</div>
          <div *ngIf="f.phonenumber.errors.max" style="color: #FF0000;">Telefonnummeret skal indeholde 8 tal</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" disabled class="form-control" formControlName="email" [(ngModel)]="bruger.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors}">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required" style="color: #FF0000;">Email skal indtastes</div>
          <div *ngIf="f.email.errors.email" style="color: #FF0000;">Det indtastede skal være en emailadresse</div>
        </div>
      </div>
      <div class="form-group">
        <label>Kodeord</label>
        <input type="password" class="form-control" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required" style="color: #FF0000;">Kodeord skal indtastes</div>
          <div *ngIf="f.password.errors.minlength" style="color: #FF0000;">Kodeordet skal være mindst 6 karakterer langt</div>
        </div>
      </div>
      <div class="form-group">
        <label>Gentag kodeord</label>
        <input type="password" class="form-control" formControlName="repeatPassword" [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors}">
        <div *ngIf="submitted && f.repeatPassword.errors" class="invalid-feedback">
          <div *ngIf="f.repeatPassword.errors.required" style="color: #FF0000;">Kodeord skal indtastes</div>
          <div *ngIf="f.repeatPassword.errors.checkequals" style="color: #FF0000;">Kodeordene skal være ens</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Opdater oplysninger</button>
      </div>
    </div>
  </form>
</div>
